  /* Estilos para el header */
  header {
      font-family: "Cabin", sans-serif;
      background-color: midnightblue;
      background: linear-gradient(to bottom, midnightblue, #007BFF);
      /* Gradiente desde azul oscuro a azul claro */
      color: #f8f9fa;
      padding: 10px;
      display: flex;
      align-items: center;

  }

  /* Estilos para el logo */
  .logo {
      width: 150px;
      height: auto;
      margin-right: 5px;
  }

  h1,
  h3 {
      margin: 0;
  }

  /* Estilos para el enlace de WhatsApp */
  .whatsapp {
      margin-left: auto;
      /* Empuja el icono de WhatsApp hacia la derecha */
  }

  .whatsapp img {
      width: 200px;
      /* Tamaño más pequeño para el icono de WhatsApp */
  }

  /* Estilos para el contenedor de texto */
  .text-container {
      display: flex;
      /* Usa flexbox para alinear los elementos internos */
      flex-direction: column;
      /* Apila los elementos verticalmente */
  }

  /* Estilos para la barra de navegación */
  nav {
      background-color: #007BFF;
      /* Color de fondo de la barra de navegación */
      padding: 10px;
      /* Espacio dentro de la barra de navegación */
      display: flex;
      /* Flexbox para centrar los elementos */
      justify-content: center;
      /* Centra los botones horizontalmente */
      border-top: 3px solid #0056b3;
      /* Color de fondo al pasar el ratón */
      ;
      /* Línea superior para separar el nav */
  }

  nav ul {
      list-style: none;
      /* Elimina las viñetas */
      margin: 0;
      /* Elimina el margen */
      padding: 0;
      /* Elimina el relleno */
      display: flex;
      /* Hace que los elementos de la lista se alineen horizontalmente */
      align-items: center;
      /* Centra verticalmente los elementos */
  }

  nav ul li {
      margin-right: 40px;
      /* Espacio entre los elementos de la lista */
  }

  nav ul li a {
      font-family: "Cabin", sans-serif;
      color: #fff;
      /* Color del texto del enlace */
      text-decoration: none;
      /* Elimina el subrayado del enlace */
      padding: 10px 15px;
      /* Espacio dentro de los enlaces */
      border-radius: 5px;
      /* Bordes redondeados */
      transition: background-color 0.3s ease;
      /* Transición suave para el cambio de color de fondo */
      display: flex;
      /* Flexbox para alinear el texto y las imágenes */
      align-items: center;
      /* Centra verticalmente los elementos */
  }

  nav ul li a.activo {
      background-color: #0056b3;
  }

  nav ul li a:hover {
      background-color: #0056b3;
      /* Color de fondo al pasar el ratón */
  }

  /* Estilos para la sección de servicios */
  .service-section {
      font-family: "Cabin", sans-serif;
      padding: 20px;
      /* Relleno para la sección */
      color: #333;
      /* Color del texto */
  }

  .service-section h2 {
      margin-top: 0;
      /* Elimina el margen superior del título */
      color: #007BFF;
      /* Color del título */
  }

  .service-section ul {
      padding-left: 20px;
      /* Espacio a la izquierda para las viñetas */
  }

  .holder {
      max-width: 1300px;
      margin: 0 auto;
      padding: 0 20px;
  }

  .holder img {
     display: block;
      /* Asegura que la imagen sea un bloque */
      margin: 0 auto;
      /* Centra la imagen horizontalmente */
      max-width: 1200px;
      padding: 3px;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); /* Agrega un efecto de relieve a la imagen */
  }

  .service-section {
    display: flex; /* Hace que los elementos dentro del contenedor se muestren en línea */
    justify-content: space-between; /* Distribuye los elementos del contenedor a lo largo del eje principal con el mismo espacio entre ellos */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en una nueva línea si el espacio es insuficiente */
}

.left-block,
.right-block {
    width: calc(50% - 10px); /* Divide el ancho del contenedor en dos columnas y resta un poco de espacio para los márgenes */
    margin-bottom: 20px; /* Agrega un margen inferior para separar los bloques */
    font-size: 20px;
  }
  footer {
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
  }
  /*fin HOME*/

  /* Comienzo HELADERAS*/

    /* Estilos generales */
    body {
        font-family: "Cabin", sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f9fa;
    }
    
    .container {
        font-family: "Cabin", sans-serif;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }
      /* Estilos para la tarjeta de servicio de heladeras */
      .card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin-bottom: 20px;
    }
    
    .card-image {
        width: 100%;
        height: 250px; /* Ajusta la altura de la imagen según tu preferencia */
        object-fit: cover;
    }
    
    .card-content {
        padding: 20px;
    }
    
    .card-title {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 10px;
        color: #007BFF; /* Color azul */
    }
    
    .card-description {
        font-size: 20px; /* Ajusta el tamaño de la letra según tu preferencia */
    }
    /* Estilos para el cuadro llamativo */
    
    .call-now-box {
        margin: auto;
        width: fit-content;
        background-color:red; /* Naranja */
        color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .call-now-box img {
        max-width:  200px; /* Ajusta el tamaño de la imagen */
        height: auto;
        margin-bottom: 20px; /* Añade un margen inferior */
    }
    
    .call-now-box h2 {
        font-size: 24px;
        margin: 0;
        margin-bottom: 10px;
    }
    
    .call-now-box p {
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    .whatsapp-button {
        background-color: #25d366;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 18px;
        text-decoration: none;
        align-self: center;
    }
    
    .whatsapp-button:hover {
        background-color: #128C7E;
    }
/* Fin HELADERAS*/

/*Comienzo AIRES*/
.ac-holder {
    text-align: center; /* Centra el contenido del holder */
}
.ac-central-block h2{
    color: #007BFF;
    /* Color del título */
    font-size: 30px;
}
.ac-central-block p {
    font-size: 20px;
}

.ac-image-container img {
    display: block;
      /* Asegura que la imagen sea un bloque */
      margin: 0 auto;
      /* Centra la imagen horizontalmente */
      max-width: 500px;
      padding: 3px;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); /* Agrega un efecto de relieve a la imagen */
}

.ac-service-section {
    display: flex; /* Utiliza flexbox para alinear los elementos */
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
}
.ac-services-grid {
    border: 3px solid#007BFF;
    border-radius: 10px;
    padding: 16px;
    margin: 16px;
    display: flex;
    gap: 32px;
    align-items: center;
}

.ac-service-block h2 {
    font-weight: 500;
    border-bottom: 3px solid  #007BFF;
    padding: 10px;
    color: #0056b3;
}
.ac-service-block p{
    font-size: 20px;
}

.ac-services-grid img{
    border-radius: 13px;
    display: block;
    max-width: 225px;
}
.ac-services-grid:nth-child(even){
    flex-direction: row-reverse;
}

